*.config
*.creator
*.files
*.includes
*.creator.user
CMakeLists.txt.user

*.o
*.d

examples/server
examples/client

.clang_complete
compile_commands.json

GPATH
GTAGS
GRTAGS

lib/
build/
.idea/
.vscode/
cmake-build-debug/
